.paginationBttns {
    font-size: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    justify-content: flex-end;
    padding: 10px 10px;
    display: flex;
}

.paginationBttns a {
    font-size: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    justify-content: flex-end;
    padding: 0px 10px;
    display: flex;
}

.paginationBttns:disabled {
    cursor: not-allowed;
    color: gray;
}

.paginationBttnsActive {
    color: #45b3e3;
    font-weight: bold;
}

.paginationBttnsNotActive {
    color: black;
    font-size: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    justify-content: flex-end;
    padding: 10px 10px;
    display: flex;
    font-weight: normal;
}